## Python Iterators,Data Structures,Data types:
         - List
         - Tuple
         - Set
         - Dictionary

# List:
      - It can stores different data type elements 
      - It can be defined as "[]" and type casting as "list()"
      - It consists of index slicing can be done
      - It stores the value in given format
      - In this the values can be changes
      - It can stores duplicate elements

# Tuple:
      - It can stores different data type elements
      - It can be defined as "()" and type casting as "tuple()"
      - It consists of index and slicing can be done 
      - It stores the value in given format
      - In this the values cant be changed
      - It can stores duplicate elements

# Set:
       - It can store different data type elements
       - It can be defined as "{}" and type casting as "set()"  => {a} => set
       - It doesnt consist of  index and slicing cant be done
       - It stores the value in given format but it printss in alphabetical order 
       - In this the values can be changes
       - It cant stores the duplicates elements

# Dictionary:
              - It can store different data type elements but it follows key and value pairs
              - It can be defined as "{}" by default as type casting as "dict()"
              - It consist of  index but it can be applicate for either keys or values and slicing can done
              - It stores the value in given format  
              - In this the values can be changed
              - It cant stores the duplicates keys but it stores duplicate values

# List:

In [1]:
k = [23,45.6,"salma",23,"karru"]
print(k,type(k))

[23, 45.6, 'salma', 23, 'karru'] <class 'list'>

In [2]:
a = 20
print(type(a))

<class 'int'>

In [3]:
print(k[2])
print(k[-15])

salma

IndexError: list index out of range

In [4]:
print(type(k))

<class 'list'>

In [5]:
print(dir(k))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [6]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
m = [45,78,56]
print(m)
n = input()
m.append(int(n))
print(m)

[45, 78, 56]
45
[45, 78, 56, 45]

In [8]:
n = ["tarun",45,129,45.20]
b = n.copy()
print(b,type(b))
print(n)
n.append("salma")
print(n)
print(b)
b.append("krish")
print(n)
print(b)

['tarun', 45, 129, 45.2] <class 'list'>
['tarun', 45, 129, 45.2]
['tarun', 45, 129, 45.2, 'salma']
['tarun', 45, 129, 45.2]
['tarun', 45, 129, 45.2, 'salma']
['tarun', 45, 129, 45.2, 'krish']

In [9]:
p = [12,15,17,48,'salma',78,'krish']
for n in p:
    print("{} count is: {}".format(n,p.count(n)))

12 count is: 1
15 count is: 1
17 count is: 1
48 count is: 1
salma count is: 1
78 count is: 1
krish count is: 1

In [10]:
p = [12,15,17,48,'salma',78,'krish']
print(p.count(1))
print(p.count(12))
for n in p:
    print("{} count is: {}".format(n,p.count(n)))

0
1
12 count is: 1
15 count is: 1
17 count is: 1
48 count is: 1
salma count is: 1
78 count is: 1
krish count is: 1

In [11]:
v = [78,89.1245,"salma"]
b = ["karshima","rurdansh",'tejasri']
v.extend(b)
print(v)
print(b)
b.append(200)
print(v)
print(b)

[78, 89.1245, 'salma', 'karshima', 'rurdansh', 'tejasri']
['karshima', 'rurdansh', 'tejasri']
[78, 89.1245, 'salma', 'karshima', 'rurdansh', 'tejasri']
['karshima', 'rurdansh', 'tejasri', 200]

In [12]:
v.index(4)

ValueError: 4 is not in list

In [13]:
x = [12,15,19,740]
x.insert(0,"Salma")
print(x)

['Salma', 12, 15, 19, 740]

In [14]:
print(list.insert.__doc__)

Insert object before index.

In [15]:
print(list.count.__doc__)

Return number of occurrences of value.

In [16]:
x

['Salma', 12, 15, 19, 740]

In [17]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [18]:
x

['Salma', 12, 15, 19, 740]

In [19]:
print(x)
x.pop()
print(x)

['Salma', 12, 15, 19, 740]
['Salma', 12, 15, 19]

In [20]:
x.pop(1)

12

In [21]:
print(x)

['Salma', 15, 19]

In [22]:
y = [45,89.21,76,"salma","siri","karru"]
print(y)

[45, 89.21, 76, 'salma', 'siri', 'karru']

In [23]:
print(y)
y.remove(76)
print(y)

[45, 89.21, 76, 'salma', 'siri', 'karru']
[45, 89.21, 'salma', 'siri', 'karru']

In [24]:
print(y)
y.reverse()
print(y)

[45, 89.21, 'salma', 'siri', 'karru']
['karru', 'siri', 'salma', 89.21, 45]

In [25]:
print(y)
y.sort()
print(y)

['karru', 'siri', 'salma', 89.21, 45]

TypeError: '<' not supported between instances of 'float' and 'str'

In [26]:
p = [45,2,200,1]
print(p)
p.sort()
print(p)

[45, 2, 200, 1]
[1, 2, 45, 200]

In [27]:
k = [45.012,40.125,0.1230]
print(k)
k.sort()
print(k)

[45.012, 40.125, 0.123]
[0.123, 40.125, 45.012]

In [28]:
s = ["abdul","tilak","zeeshan"]
print(s)
s.sort()
print(s)

['abdul', 'tilak', 'zeeshan']
['abdul', 'tilak', 'zeeshan']

In [29]:
sorted(s)

['abdul', 'tilak', 'zeeshan']

In [30]:
print(s)

['abdul', 'tilak', 'zeeshan']

In [31]:
d = [45,4,400]
f = sorted(d)
print(d)
print(f)

[45, 4, 400]
[4, 45, 400]

In [32]:
print(d)
d.clear()
print(d)

[45, 4, 400]
[]

In [34]:
f = [45,78,96]
print(f)
del f

[45, 78, 96]

# Tuple:

In [35]:
s = (12,48,79.5678,12,"tarun")
print(s,type(s))

(12, 48, 79.5678, 12, 'tarun') <class 'tuple'>

In [36]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [37]:
print(s)
print(s.count(12))
print(s)

(12, 48, 79.5678, 12, 'tarun')
2
(12, 48, 79.5678, 12, 'tarun')

In [38]:
s.index(48)

1

In [39]:
p = (45,78,12,96,56)
d = list(p)
print(d,type(d))
d.sort()
q = tuple(d)
print(q)

[45, 78, 12, 96, 56] <class 'list'>
(12, 45, 56, 78, 96)