# Set:

In [2]:
g = {'a',45,120,155,"rama",45,450}
print(g)

{'rama', 450, 'a', 155, 120, 45}

In [3]:
g

{120, 155, 45, 450, 'a', 'rama'}

In [17]:
h = {}
m = {2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [18]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [19]:
s1 = {34,67,"ramu",0,"sahasra"}
s1.add("karru")
print(s1)

{0, 'sahasra', 34, 67, 'karru', 'ramu'}

In [20]:
print(s1)
s1.pop()
print(s1)

{0, 'sahasra', 34, 67, 'karru', 'ramu'}
{'sahasra', 34, 67, 'karru', 'ramu'}

In [21]:
print(s1)
s1.pop('ramu')
print(s1)

{'sahasra', 34, 67, 'karru', 'ramu'}

TypeError: set.pop() takes no arguments (1 given)

In [22]:
print(s1)
s1.remove('ramu')
print(s1)

{'sahasra', 34, 67, 'karru', 'ramu'}
{'sahasra', 34, 67, 'karru'}

In [23]:
print(s1)
s1.remove(2)
print(s1)

{'sahasra', 34, 67, 'karru'}

KeyError: 2

In [24]:
s2 = {45,8,32,5,6}
s3 = {1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{32, 1, 2, 5, 6, 7, 8, 456, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [25]:
s2 = {45,8,32,5,6}
s3 = {1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

# Dictionary:

In [5]:
t = {'name':("rama","karru","sanika"),'age':20,'sal':[24.500,48.560]}
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56]}

In [6]:
print(t['name'][0])

rama

In [7]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [8]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [9]:
print(t.values())

dict_values([('rama', 'karru', 'sanika'), 20, [24.5, 48.56]])

In [14]:
y ={'name':"suhek","age":[20,23],"sal":0}
print(y)

{'name': 'suhek', 'age': [20, 23], 'sal': 0}

In [15]:
print(t.items())

dict_items([('name', ('rama', 'karru', 'sanika')), ('age', 20), ('sal', [24.5, 48.56])])

In [18]:
print(t.get('name'))
print(t.get('sal'))
print(t.get('no'))

('rama', 'karru', 'sanika')
[24.5, 48.56]
None

In [19]:
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56]}

In [21]:
print(t)
t['no'] = 12
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 12}
{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 12}

In [22]:
print(t)
t['no'] = "salma"
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 12}
{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma'}

In [23]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma'}
{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma', 'tr': None}

In [26]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma', 'tr': None}
{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma', 'tr': 45}

In [27]:
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma', 'tr': 45}

In [28]:
print(t.update({'tr':"rama"}))

None

In [29]:
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma', 'tr': 'rama'}

In [32]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('rama', 'karru', 'sanika'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'salma', 'tr': 'rama'}
20
{'name': ('rama', 'karru', 'sanika'), 'sal': [24.5, 48.56], 'no': 'salma', 'tr': 'rama'}

In [33]:
print(t)
print(t.popitem())
print(t)

{'name': ('rama', 'karru', 'sanika'), 'sal': [24.5, 48.56], 'no': 'salma', 'tr': 'rama'}
('tr', 'rama')
{'name': ('rama', 'karru', 'sanika'), 'sal': [24.5, 48.56], 'no': 'salma'}

In [35]:
q = ['name','age','sal']
w = [12,45,78,45]
print(q)
print(w)
f = {'name':34,'donar':45}
f.fromkeys(q)
f.fromkeys(w)
print(f)
print(q)
print(w)

['name', 'age', 'sal']
[12, 45, 78, 45]
{'name': 34, 'donar': 45}
['name', 'age', 'sal']
[12, 45, 78, 45]

In [37]:
# syntax: fromkeys([],values)
t = {'name':"rama",'sno':1}
t1={}
t1= t.fromkeys(q,w)
print(t)

{'name': 'rama', 'sno': 1}

In [41]:
marks = {}.fromkeys(["Maths","Python","C++"],[0,45])
print(marks)

{'Maths': [0, 45], 'Python': [0, 45], 'C++': [0, 45]}

````````

contact application:
     
        
        1.Enter new record
        2.Display all records
        3.Update Record
        4.Delete Record
        
        
        1.ramu -> not exists
             moblie number -> xxxx
             ramu record Already exists
                   
        2.
           name    moblie number
           ramu      xxxxxxxxxxx
           rajesh    xxxxxxxxxxx
            
        3. ramu -> exist
            moblie number -> xxxxxxx
            user doesnot exists
            
       4. ramu  -> exist
          user deleted sucessfully
          user doesnt exists 
                      


`````````````

In [ ]:
1 
2
3
4
0
      1 Enter your name: rajesh
        Rajesh already exists
        Enter your mobile number: xxxxxxx
            
      2 Name      mobilenumber
        Rajesh    xxxxxxxxxxx
        
      3 Enter your name: Rajesh
        Rajesh doesnt exist in your contact
        
        Rajesh1
        Rajesh Doesnt exist in your contact
        
      4 Enter your name: Rajesh
        Rajesh Record deleted sucessfully
        Rajesh Doesnt exist in your contact

In [1]:
m = {}
for j in range(4):
    k = input("Enter your name: ")
    n = int(input("Enter your mobile number: "))
    m[k]=n
print(m)

Enter your name: salma
Enter your mobile number: 123355689
Enter your name: suhek
Enter your mobile number: 78865432365
Enter your name: s
Enter your mobile number: 12345678887
Enter your name: karru
Enter your mobile number: 4667899976532
{'salma': 123355689, 'suhek': 78865432365, 's': 12345678887, 'karru': 4667899976532}