# Markdown Format

# Heading-1 
## Heading-2
### Heading-3
#### Heading-4
##### Heading-5
###### Heading-6
####### Heading-7

# Python

# Python Installations,Execution ways,Jupyter installation

In [ ]:
## Variable:
    - To store a value
    -To access the value in different function,methods
    - To change the value

In [12]:
 a = 10

In [13]:
a

10

In [10]:
b = 20

In [11]:
b

20

In [3]:
a = 200
b = 'salma'
a
b

'salma'

In [8]:
print(a,b)
print(b,a)

200 salma
salma 200

In [5]:
a,b

(200, 'salma')

## Data Types
     - Int -> only numbers
     - Float -> only decimal numbers
     -String -> only characters

c = 23.000
t ='salma'

In [15]:
c,t = 23.000,'salma'

In [16]:
print(c,t)

23.0 salma

## Type:
     - To know the data type for that value
     -type(variablename,datastructure)

In [17]:
type(c)

float

In [18]:
g = '12.88'
g

'12.88'

In [19]:
print(g)

12.88

In [20]:
type(g)

str

In [21]:
print(type(g))

<class 'str'>

In [22]:
print(type(c))

<class 'float'>

In [23]:
print(type(a))

<class 'int'>

In [24]:
print(type(a),type(b),type(g))

<class 'int'> <class 'int'> <class 'str'>

In [26]:
type(c),type(a),type(g)

(float, int, str)

In [27]:
a,g,c

(10, '12.88', 23.0)

## Input():
    - by default it will be considered as a string values
    -print(),read()

In [5]:
a = input()
print(a,type(a))

120
120 <class 'str'>

In [6]:
t = input("Enter a value: ")
print(t,type(t))

Enter a value: 20
20 <class 'str'>

In [7]:
t = input("Enter a value: ")
print(t,type(t))

Enter a value: salma
salma <class 'str'>

## TypeCasting
    - converting one data into another data type
    - int(),str(),float()

In [10]:
p = int(input("Enter only integer values: "))
print(p,type(p))

Enter only integer values: 25
25 <class 'int'>

In [12]:
m = float(input("Enter only integer values: "))
print(m,type(m))

Enter only integer values: 25.55
25.55 <class 'float'>

In [13]:
p = str(input("Enter only integer values: "))
print(p,type(p))

Enter only integer values: salma
salma <class 'str'>

In [1]:
Input:
    Enter integer value: 48
    Enter float value:45.0218
Output:
    conversion of int value is: 48.0
    conversion of float value is:45
    both cases in string is: '48' '45.0218'

SyntaxError: invalid syntax (<ipython-input-1-a45ebe0c5c0b>, line 1)

In [1]:
q = int(input("Enter integer value: "))
k = float(input("Enter float values: "))
print("Conversion of int value is: ",float(q))
print("Conversion of float value is:",int(k))
print("Both cases in string is:"+"'"+str(q)+"'"+" "+"'"+"'"+str(k)+"'")

Enter integer value: 45
Enter float values: 48.0218
Conversion of int value is:  45.0
Conversion of float value is: 48
Both cases in string is:'45' ''48.0218'