In [ ]:
....
Input:10
Output:
        19KQ1A0523
        | | | | |
        19KQ1A0523
////

In [3]:
 n = int(input())
for j in range(n):
    print(j)

10
0
1
2
3
4
5
6
7
8
9

In [4]:
 n = int(input())
for j in range(n):
    print("{:02}".format(j))

5
00
01
02
03
04

In [5]:
 n = int(input())
for j in range(n):
    print("19KQ1A05{:02}".format(j))

5
19KQ1A0500
19KQ1A0501
19KQ1A0502
19KQ1A0503
19KQ1A0504

In [ ]:
{} -> .format(?)
{01} -> .format(?)
{02} -> 10 -> [1-9] -> :03

## While -> Unknown ranges,Know ranges
 `````
     Syntax:
          variable init
          while (condition):
               //stmnt
               // incr/decr
  ``````

In [31]:
n = int(input())
while n!=10:
        print(n,end=" ")
        n = n-1

10

In [32]:
m = int(input())
i = 1
while m!=i:
    print(i,end=" ")
    i = i+1

20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

`````
Input : 1259
Output:
    Given number is: 1259
    reverse of a number is: 9521
    Given number is 1259 and its reverse is: 9521  
`````

In [2]:
n = int(input())
print(n//10)

1259
125

In [4]:
n = int(input())
r = 0
while n!=0:
    r = r*10+n%10
    n//=10
print("Given number is: {}".format(n))

1259
Given number is: 0

In [4]:
n = int(input())
r = 0
p = n
while n!=0:
    r = r*10+n%10
    n//=10
print("Given number is: {}\nReverse of a number is: {}\nGiven number is {} and its reverse is: {}".format(p,r,p,r))

1259
Given number is: 1259
Reverse of a number is: 9521
Given number is 1259 and its reverse is: 9521

## Jumping Statements:
        - break ->exit
        - continue -> skip
        - pass -> skip nothing will be printed
        - return -> values to be sent for functions

In [6]:
n = int(input())
for k in range(n+1):
    print(k,end=",")

11
0,1,2,3,4,5,6,7,8,9,10,11,

In [7]:
n = int(input())
for h in range(n):
    if h == 5:
        break
    else:
        print(h,end=" ")
print("/n",h)

100
0 1 2 3 4 /n 5

In [11]:
n = int(input())
for h in range(n):
    if h == 5:
        continue
    else:
        print(h,end=" ")
print("\n",h)

25
0 1 2 3 4 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 24

In [10]:
n = int(input())
for b in range(n):
    if b == 10:
        pass
    else:
        print(b,end=",")

25
0,1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,

In [12]:
for i in 'salma':
    if(i == 's'):
        print('pass executed')
        pass
    print(i)

pass executed
s
a
l
m
a

In [14]:
for i in 'salma':
    if(i == 'l'):
        print('continue executed')
        continue
    print(i)

s
a
continue executed
m
a

In [ ]:
function():
    //stmts
    pass
    return

## Inner Loops:
       - Loop within a loop
       
````````
     Syntax:
         for in range():
             for j in range():
                  if(condition -n):
                       //stmnts
                  else:
                       //stmnts
                print("\n")

`````````

````````
1 - 31
r - 5
c - 7

step-1
01 02 03 04 05 06 07
08 09 10 11 12 13 14
15 16 17 18 19 20 21 
22 23 24 25 26 27 28
29 30 31

step - 2
01 ** 03 ** 05 ** 07
** 09 ** 11 ** 13 **
15 ** 17 ** 19 ** 21 
** 23 ** 25 ** 27 28
29 30 31
````````

In [17]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        print(a,end=" ")
        a+=1
    print(end="\n")

1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35

In [19]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

01 02 03 04 05 06 07
08 09 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [30]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%2==0:
                print("**",end=" ")
            else:    
                print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

01 ** 03 ** 05 ** 07
** 09 ** 11 ** 13 **
15 ** 17 ** 19 ** 21
** 23 ** 25 ** 27 **
29 ** 31

In [22]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%5==0:
                print("##",end=" ")
            elif a%2==0:
                print("**",end=" ")
            else:    
                print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

01 ** 03 ** ## ** 07
** 09 ## 11 ** 13 **
## ** 17 ** 19 ## 21
** 23 ** ## ** 27 **
29 ## 31

In [23]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%5==0:
                print("##",end=" ")
            elif a%2==0:
                print("**",end=" ")
            elif a%3==0:
                print("()",end=" ")
            else:    
                print("{:02}".format(a),end=" ")
        else:
            break
        a+=1
    print(end="\n")

01 ** () ** ## ** 07
** () ## 11 ** 13 **
## ** 17 ** 19 ## ()
** 23 ** ## ** () **
29 ## 31

In [24]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%5==0:
                print("##",end=" ")
            elif a%2==0:
                print("**",end=" ")
            elif a%3==0:
                print("()",end=" ")
            else:    
                print("[]",end=" ")
        else:
            break
        a+=1
    print(end="\n")

[] ** () ** ## ** []
** () ## [] ** [] **
## ** [] ** [] ## ()
** [] ** ## ** () **
[] ## []

In [25]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        if j == 3:
            print("||",end=" ")
        elif a<=31:
            if a%5==0:
                print("##",end=" ")
            elif a%2==0:
                print("**",end=" ")
            elif a%3==0:
                print("()",end=" ")
            else:    
                print("[]",end=" ")
        else:
            break
        a+=1
    print(end="\n")

[] ** || ** ## ** []
** () || [] ** [] **
## ** || ** [] ## ()
** [] || ## ** () **
[] ## ||

In [27]:
a = 1
for i in range(1,6):
    for j in range(1,8):
        if i == 2:
            print("&&",end=" ")
        elif j == 3:
            print("||",end=" ")
        elif a<=31:
            if a%5==0:
                print("##",end=" ")
            elif a%2==0:
                print("**",end=" ")
            elif a%3==0:
                print("()",end=" ")
            else:    
                print("[]",end=" ")
        else:
            break
        a+=1
    print(end="\n")

[] ** || ** ## ** []
&& && && && && && &&
## ** || ** [] ## ()
** [] || ## ** () **
[] ## ||